/* General styles */
body {
    font-family: sans-serif;
    margin: 20px;
}

header {
    margin-bottom: 20px;
}

/* Password field styles */
.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    padding-right: 60px; /* Make space for the icons */
}

.password-wrapper .password-toggle-icon,
.password-wrapper .copy-btn {
    cursor: pointer;
    margin-left: 5px;
}
